.contactInfo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
  max-width: 896px;
  width: 100%;
  padding: 10px 0;
  justify-self: center;
}

.contactFormWrapper {
  padding: 24px 24px 40px;
  background-color: #fff;
  border-radius: 12px;
}

.contactTitle {
  position: relative;
  margin-top: 48px;
  margin-bottom: 56px;
  text-align: center;
  font-weight: 700;
  font-size: clamp(22px, 4vw, 26px);
  line-height: 31.2px;
  letter-spacing: 0.52px;
  color: #4A00E0;
}

.contactTitle::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -7px;
  transform: translateX(-50%);
  width: 125px;
  height: 4px;
  background-color: #4A00E0;
  border-radius: 9999px;
}

/* CONTACT FORM START */
.contactForm {
  display: flex;
  flex-direction: column;
}

.contactForm label {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.7px;
  color: #484456;
  margin-bottom: 4px;
}

.contactForm input {
  padding: 13px 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  border: 1px solid #C9C3D9;
  border-radius: 8px;
  margin-bottom: 16px;
  background-color: #F5F2FF;
}

.contactForm input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #48445680;
}

.contactForm textarea {
  padding: 13px 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  border: 1px solid #C9C3D9;
  border-radius: 8px;
  margin-bottom: 24px;
  background-color: #F5F2FF;
}

.contactForm textarea::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 44px;
  color: #48445680;
}

.contactForm button {
  padding: 12px 24px;
  max-width: 112.58px;
  width: 100%;
  border-radius: 8px;
  color: #fff;
  background-color: #4A00E0;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
}

.contactForm button:hover {
  background-color: #3700A8;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.contactForm button:active {
  background-color: #2A0080;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.contactSocial {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 282px;
  width: 100%;
  padding: 100px 25px;
  background-color: #fff;
  border-radius: 12px;
}

.contactSocial h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25.2px;
  color: #1A1A27;
  margin-bottom: 16px;
}

.contactSocialItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px 12px;
  transition: all 0.3s;
}

.contactSocialItem:hover {
  transform: scale(1.03);
}
/* CONTACT FORM END */

.contactMessage {
  padding: 24px;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 48px;
  border: 1px solid #E9E6F8;
  border-radius: 12px;
  background-color: #F5F2FF;
}

.contactMessageText {
  font-weight: 600;
  font-size: 18px;
  line-height: 28.8px;
  color: #6336FA;
}



/* RESPONSIVE */
@media (max-width: 768px) {
  .container {
    padding: 0 12px;
  }

  .contactInfo {
    grid-template-columns: 1fr;
  }

  .contactFormWrapper {
    padding: 28px 16px;
    border-radius: 12px;
  }

  .contactFormWrapper button {
    max-width: 370px;
    width: 100%;
    align-self: center;
  }

  .contactForm {
    width: 100%;
  }

  .contactForm input,
  .contactForm textarea {
    width: 100%;
    box-sizing: border-box;
  }

  .contactSocial {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    justify-items: center;
    gap: 28px;
    max-width: 360px;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 40px;
    position: relative;
    border-radius: 12px;
  }

  .contactSocial h3 {
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  .contactSocial a {
    padding: 0;
    margin-left: 0;
  }

  .contactMessageText {
    padding: 0 16px;
  }

  .contactMessage {
    border-radius: 12px;
  }
}