@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #FCF8FF;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}


.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

/* HEADER START */
.header {
  background-color: #fff;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header h1 a {
  font-weight: 700;
  font-size: clamp(18px, 4vw, 24px);
  line-height: 31.2px;
  color: #4A00E0;
}

.hireMe {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: #4A00E0;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

.navbar {
  display: flex;
  gap: 24px;
}

.navbar a {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #4A00E0;
}

.hamburger {
  display: none;
}
/* HEADER END */


/* FOOTER START */
.footer {
  background-color: #E9E6F8;
}

.footerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 46px;
  padding-bottom: 48px;
}

.footerTitle {
  font-weight: 800;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.7px;
  color: #1A1A27;
  margin-bottom: 16px;
}

.footerSubTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #484456;
  margin-bottom: 16px;
}

.footerLinks {
  display: flex;
  gap: 16px;
}

.footerLinks a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5D6478;
}
/* FOOTER END */



/* RESPONSIVE */
@media (max-width: 768px) {
  .header {
    position: relative;
    padding: 20px 30px;
  }

  .navbar {
    display: none;
    position: absolute;
    right: 30px;
    top: 50px;
    border: 1px solid #E3E0F2;
    flex-direction: column;
    gap: 25px;
    background-color: #fff;
    max-width: 100px;
    width: 100%;
    padding: 20px;
  }

  .hireMe {
    display: none;
  }

  .hamburger {
    display: block;
    background-color: transparent;  
  }

  .footer {
    padding: 0 20px;
  }

  .footerWrapper {
    text-align: center;
  }
}