@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--main-bg);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

:root {
  --main-bg: #FCF8FF;
  --white-bg-color: #ffffff;
  --main-text: #1a1a1a;
  --footer-bg-color: #E9E6F8;
  --footer-title-color: #1A1A27;
  --footer-title: #fff;
  --footer-subtitle-color: #484456;
  --footer-text-color: #5D6478;
  --footer-bg-resp: #4A00E0;
  --header-text: #4A00E0;
  --title-text: #1A1A27;
  --descrip-text: #484456;
  --skills-title: #1A1A27;
  --skills-text: #484456;
  --skills-bg: #EEECFE;
  --counter-title: #1A1A27;
  --counter-result: #1A1A27;
}

.dark {
  --main-bg: #1a1a1a;
  --white-bg-color: #252525;
  --main-text: #ffffff;
  --footer-bg-color: #333333;
  --footer-title-color: #f7eded;
  --footer-subtitle-color: #f7eded;
  --footer-text-color: #f7eded;
  --header-text: #f7eded;
  --title-text: #f7eded;
  --descrip-text: #f7eded;
  --skills-title: #f7eded;
  --skills-text: #f7eded;
  --skills-bg: #12085f;
  --counter-title: #f7eded;
  --counter-result: #f7eded;
}

body.dark {
  background-color: var(--main-bg);
  color: var(--main-text);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

/* HEADER START */
.header {
  background-color: var(--white-bg-color);
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.headerWrapper h1 a {
  display: inline-block;
  font-weight: 700;
  font-size: clamp(18px, 4vw, 24px);
  line-height: 31.2px;
  color: var(--header-text);
  transition: all 0.3s;
}

.headerWrapper h1 a:hover {
  transform: scale(1.01);
  color: red;
}

.headerWrapper h1 a:active {
  transform: scale(1.01);
  color: var(--header-text);
}

.hireMe {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: #4A00E0;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
}

.hireMe:hover {
  background-color: #3700A8;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.hireMe:active {
  background-color: #2A0080;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.navbar {
  display: flex;
  gap: 24px;
}

.navbar a {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: var(--header-text);
  transition: all 0.3s;
}

.navbar a:hover {
  transform: scale(1.05);
  color: red
}

.navbar a:active {
  transform: scale(1.05);
  color: var(--header-text);
}

.teamToggle { 
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.teamToggle:hover {
  transform: scale(1.05);
}

.teamToggle:active {
  transform: translateY(0);
}

.hamburger {
  display: none;
  cursor: pointer;
}
/* HEADER END */


/* FOOTER START */
.footer {
  background-color: var(--footer-bg-color);
}

.footerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 46px;
  padding-bottom: 48px;
}

.footerTitle {
  font-weight: 800;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.7px;
  color: var(--footer-title-color);
  margin-bottom: 16px;
}

.footerSubTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--footer-subtitle-color);
  margin-bottom: 16px;
}

.footerLinks {
  display: flex;
  gap: 16px;
}

.footerLinks a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--footer-text-color);
}
/* FOOTER END */



/* RESPONSIVE @MEDIA*/
@media (max-width: 768px) {
  .container {
    width: min(100% - 32px, 1300px);
    margin-inline: auto;
  }


  /* HEADER SECTION */
  .header {
    position: relative;
  }

  .navbar {
    display: none;
    position: absolute;
    right: 16px;
    top: 50px;
    border: 1px solid #E3E0F2;
    flex-direction: column;
    gap: 25px;
    background-color: var(--white-bg-color);
    max-width: 100px;
    width: 100%;
    padding: 20px;
    z-index: 10;
  }

  .navbar.active {
    display: flex;
  }

  .hireMe {
    display: none;
  }

  .hamburger {
    display: block;
    background-color: transparent;  
    border: none;
  }


  /* FOOTER SECTION */
  .footer {
    padding: 16px 42px;
    background-color: var(--footer-bg-resp);
  }

  .footerWrapper {
    text-align: center;
  }

  .footerTitle {
    display: none;
  }

  .footerSubTitle {
    font-size: 14px;
    color: var(--footer-title);
    margin-bottom: 4px;
  }

  .footerLinks a {
    font-size: 12px;
    color: #CABEFF;
  }
}


@media (max-width: 576px) {
  .container {
    width: min(100% - 32px, 1300px);
    margin-inline: auto;
  }


  /* HEADER SECTION */
  .header {
    position: relative;
  }

  .navbar {
    display: none;
    position: absolute;
    right: 16px;
    top: 50px;
    border: 1px solid #E3E0F2;
    flex-direction: column;
    gap: 25px;
    background-color: var(--white-bg-color);
    max-width: 100px;
    width: 100%;
    padding: 20px;
    z-index: 10;
  }

  .navbar.active {
    display: flex;
  }

  .hireMe {
    display: none;
  }

  .hamburger {
    display: block;
    background-color: transparent;  
    border: none;
  }


  /* FOOTER SECTION */
  .footer {
    padding: 16px 42px;
    background-color: var(--footer-bg-resp);
  }

  .footerWrapper {
    text-align: center;
  }

  .footerTitle {
    display: none;
  }

  .footerSubTitle {
    font-size: 14px;
    color: var(--footer-title);
    margin-bottom: 4px;
  }

  .footerLinks a {
    font-size: 12px;
    color: #CABEFF;
  }
}