@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #FCF8FF;
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

/* HEADER START */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
}

.header h1 a {
  font-weight: 700;
  font-size: 24px;
  line-height: 31.2px;
  color: #4A00E0;
}

.header button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: #4A00E0;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

.navbar {
  display: flex;
  gap: 24px;
}

.navbar a {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #4A00E0;
}

.hamburger {
  display: none;
}

/* HEADER END */


/* FOOTER START */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 46px;
  padding-bottom: 48px;
  background-color: #E9E6F8;
}

.footerTitle {
  font-weight: 800;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.7px;
  color: #1A1A27;
  margin-bottom: 16px;
}

.footerSubTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #484456;
  margin-bottom: 16px;
}

.footerLinks {
  display: flex;
  gap: 16px;
}

.footerLinks a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5D6478;
}

/* FOOTER END */