/* ABOUT SECTION */
.aboutMe {
  padding-top: 48px;
  padding-bottom: 48px;
}

.aboutMe h1 {
  font-weight: 700;
  font-size: clamp(20px, 4vw, 32px);
  line-height: 38.4px;
  letter-spacing: -0.64px;
  color: #1A1A27;
  margin-bottom: 6.9px;
}

.aboutMe p {
  font-weight: 400;
  font-size: clamp(14px, 4vw, 18px);
  line-height: 28.8px;
  color: #484456;
}

.heroAbout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
  margin-top: 60px;
  margin-bottom: 24px;
  
}

.heroAboutTitle {
  font-weight: 700;
  font-size: clamp(18px, 4vw, 24px);
  line-height: 31.2px;
  color: #4A00E0;
}

.heroAboutSubTitle {
  font-weight: 600;
  font-size: clamp(14px, 4vw, 18px);
  line-height: 14px;
  letter-spacing: 0.7px;
  color: #575E72;
  margin-top: 4px;
}

.heroAboutDescription {
  font-weight: 400;
  font-size: clamp(14px, 4vw, 16px);
  line-height: 26px;
  color: #484456;
  margin-top: 4px;
}

.myHobbiesTitle {
  font-weight: 600;
  font-size: (12px, 4vw, 18px);
  color: #1A1A27;
}

.aboutContent {
  display: flex;
  gap: 24px;
  padding: 24px;
  background-color: #fff;
  border-radius: 12px;
}

.aboutContent img {
  max-width: 190px;
  width: 100%;
}

.aboutContent h1 {
  font-weight: 700;
  font-size: clamp(20px, 4vw, 24px);
  line-height: 31.2px;
  color: #4A00E0;
  margin-bottom: 4px;
}

.aboutContent h2 {
  font-weight: 600;
  font-size: clamp(12px, 4vw, 14px)
  line-height: 14px;
  letter-spacing: 0.7px;
  color: #575E72;
  margin-bottom: 8px;
}

.aboutContent p {
  font-weight: 400;
  font-size: clamp(14px, 4vw, 16px);
  line-height: 26px;
  color: #484456;
}

/* MY HOBBIES */
.myHobbies {
  padding: 24px 24px 0;
  background-color: #F5F2FF;
  border-radius: 12px;
}

.myHobbiesImage {
  display: flex;
  gap: 8px;
  align-items: center;
}

.myHobbiesList {
  display: flex;
  gap: 24px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.myHobbiesList li {
  padding: 5px 16px;
  background-color: #DBE2FA;
  border-radius: 9999px;
}

.myHobbiesList li a {
  font-weight: 600;
  font-size: clamp(14px, 4vw, 14px);
  line-height: 14px;
  letter-spacing: 0.7px;
  color: #5D6478;
}

.myHobbiesList li:last-child {
  padding-right: 55px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
}

/* SKILLS LEFT START*/
.skillsLeft {
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
}

.skillsLeftTitle {
  font-style: 20px;
  margin-bottom: 30px;
}

.skill {
  margin-top: 10px;
}

.skillInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-size: clamp(14px, 4vw, 14px);
}

.progress {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.progressBar {
  height: 100%;
  background-color: #6200ee;
  border-radius: 10px;
}

.html {
  width: 80%;
}

.css {
  width: 75%;
}

.javascript {
  width: 60%;
}
/* SKILLS LEFT END */

/* SKILLS RIGHT START */
.skillsRight {
  padding: 24px 24px;
  background-color: #ddd;
  border-radius: 12px;
}

.skillsTitleWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.skillsRightTitle {
  font-weight: 600;
  font-size: clamp(14px, 4vw, 18px);
  line-height: 25.2px;
  color: #4700D7;
}

.skillsRightText {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #484456;
  margin-top: 4px;
  margin-bottom: 16px;
}

.textarea {
  padding-top: 8px;
  padding-left: 8px;
  max-width: 560px;
  width: 100%;
  height: 200px;
  font-size: clamp(14px, 4vw, 18px);
  box-sizing: border-box;
  border: 1px solid #797488;
  border-radius: 8px;
}

.textarea::placeholder {
  font-weight: 400;
  font-size: clamp(14px, 4vw, 16px);
  line-height: 24px;
  color: #48445699;
}

.textLength {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding: 9px 8px 9px 16px;
  border: 1px solid #E9E6F8;
  border-radius: 6px;
  background-color: #fff;
}

.textLength h3 {
  font-weight: 400;
  font-size: clamp(14px, 4vw, 16px);
  line-height: 24px;
  color: #484456;
}

.textLength h3:last-child {
  font-weight: 600;
  font-size: clamp(14px, 4vw, 16px);
  line-height: 25.2px;
  color: #4A00E0;
}
/* SKILLS RIGHT END */


/* RESPONSIVE */
@media (max-width: 768px) {
  .container {
    padding: 0;
  }

  .aboutMe {
    padding-top: 32px;
    text-align: center;
  }

  .aboutMeDesc p {
    padding: 0 32px;
  }

  .heroAbout {
    grid-template-columns: 1fr;/
    gap: 20px;
    text-align: center;
  }

  .aboutContent {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .skills {
    grid-template-columns: 1fr;
  }

  .myHobbiesList {
    flex-direction: column;
  }

  .myHobbiesImage {
    display: flex;
    justify-content: center;
  }

  .myHobbiesList li:last-child {
    padding-right: 16px;
  }

  .skillsRight {
    margin-bottom: 24px;
  }
}